div{
	height: 100px;
	width: 100px;
	background-color: #fff;
	animation-name: fondo;
	animation: fondo 10s ;
}


@keyframes fondo{
	0%{background-color: #eee;}
	20%{background-color: #ccc;}
	40%{background-color: #999;}
	60%{background-color: #666;}
	80%{background-color: #333;}
	1000%{background-color: #000;}
}